{%extends 'base.html' %}
{% load static %}
{%block title%}
    Banking - Home
{%endblock%}
{% block content %}
<head>
    <style>
        body {
            background-image: url('{% static "images/How-to-build-payment-gateway-1.jpg" %}');
            background-size: cover;
            background-repeat: no-repeat;
        }
        .open-account-btn {
            border-radius: 50px;
            padding: 1%;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">OpenBank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          
            
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Branches
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Wayanad_district">Wayanad</a>
                <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Kozhikode">Kozhikode</a>
                <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Malappuram">Malappuram</a>
                <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Eranakulam">Eranakulam</a>
                <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Palakkad">Palakkad</a>
              </div>
            </li>
            
        
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link">Hello {{ user.username }}, </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {%else%}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {%endif%}
            </ul>
           
        </div>
        </div>
    </nav>


    <div class="m-5">
        
        {% if user.is_authenticated %}
            <p class="display-3 text-light">Open Bank </p>
            <p class="display-4">The future of banking </p>
            <a class="btn btn-primary open-account-btn" href="{% url 'after_login' %}">Open account</a>
        {% else %}
            <p class="display-3 text-light">Open Bank </p>
            <p class="display-4">The future of banking </p>
            <a class="btn btn-primary open-account-btn" href="{% url 'login' %}">Open account</a>
        {% endif %}
    </div>
        
</body>
{%endblock%}